.search-input {
  height: 55px;
  width: 450px;
}

input.input-location {
  color: aliceblue !important;
}

::placeholder {
  color: aliceblue !important;
  font-size: 10px;
}

.search-cities {
  border-radius: 10px;
  height: 50px;
}
