<div class="container-sidebar">
    <mat-sidenav-container [ngClass]="{'container-sidebar-child-light': isLight, 'container-sidebar-child-dark': !isLight}">
   
       <mat-sidenav-content class="content-sidebar">
        Day/Night 
        <mat-slide-toggle (change)="toggle($event)"></mat-slide-toggle>
       </mat-sidenav-content>
        <mat-sidenav-content class="content-sidebar">
            <button mat-button class="menu-button">Weather
                <mat-icon>home</mat-icon>
            </button>
        </mat-sidenav-content>
        <mat-sidenav-content class="content-sidebar">
            <button mat-button class="menu-button">Cities
                <mat-icon>list</mat-icon>
            </button>
        </mat-sidenav-content>
        <mat-sidenav-content class="content-sidebar">
            <button mat-button class="menu-button">Map
                <mat-icon>map</mat-icon>
            </button>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>