<div class="container-sidebar">
    <mat-sidenav-container class="container-sidebar-child">
        <mat-sidenav-content class="content-sidebar">
            <button mat-button class="menu-button">Weather
                <mat-icon>home</mat-icon>
            </button>
        </mat-sidenav-content>
        <mat-sidenav-content class="content-sidebar">
            <button mat-button class="menu-button">Cities
                <mat-icon>list</mat-icon>
            </button>
        </mat-sidenav-content>
        <mat-sidenav-content class="content-sidebar">
            <button mat-button class="menu-button">Map
                <mat-icon>map</mat-icon>
            </button>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>