.main-box-light {
  display: flex;
  gap: 30px;
  /* background-color:#9FD8F3; */
   background-image: linear-gradient(to bottom,rgb(109,161,252), rgb(76,217,254));

    /* background-image: linear-gradient(to right, rgb(254,216,247), rgb(196,221,254)); */
 
  width: 100vw;
  height: 100vh;
  padding: 20px;
  
}

.main-box-dark {
    display: flex;
    gap: 30px;
    background-color: #0b131e;
    width: 100vw;
    height: 100vh;
    padding: 20px;
  }
