.container-favorite-cities {
  display: flex;
  color: aliceblue !important;
}

.favorities-cities-child1-light {
  background-image: linear-gradient(
    to right,
    rgb(109, 161, 222),
    rgb(76, 217, 254)
  );
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 60px;
  border-radius: 15px;
  height: 80px;
}

.favorities-cities-child1-dark {
  background-color: #202c3c;
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 60px;
  border-radius: 15px;
  height: 80px;
}

.favorite {
  cursor: pointer;
}

.container-cities-local-time {
  display: flex;
  align-content: flex-start;
  width: 200px;
  justify-content: space-evenly;
  align-items: center;
}

.cities-local-time {
  display: flex;
  flex-direction: column;
}

.local-time {
  font-size: 12px;
  color: aliceblue;
  line-height: 1.4;
}

.container-celsius-icon {
  display: flex;
  width: 100px;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.celsius-degrees {
  font-size: 26px;
}
